.block-article-author-default {
	margin:0;
	padding:5px;
	border:1px solid rgba(82,168,236,.75)!important;
	border-radius: 10px; /* Firefox */
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari and Chrome */
	-khtml-border-radius: 10px 10px 10px 10px; /* Linux browsers */ 
	box-shadow:0 0 7px rgba(82,168,236,.5);
	-moz-box-shadow:0 0 7px rgba(82,168,236,.5);
	-webkit-box-shadow:0 0 7px rgba(82,168,236,.5);
	background-image: linear-gradient(bottom, #FFFFFF 58%, #F2FBFF 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 58%, #F2FBFF 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 58%, #F2FBFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 58%, #F2FBFF 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 58%, #F2FBFF 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.58, #FFFFFF), color-stop(1, #F2FBFF));	
}
.block-article-author-default .header {
	position:relative;
	display:block;
	overflow:hidden;
	height:20px;
	margin:0;
	padding:5px;
	border-bottom:#bbb solid 1px;
	user-select:none;
	-o-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	text-align:left;
}
.block-article-author-default .header h3 {
	position:relative;
	line-height:20px;
	vertical-align:middle;
	font-size:1.3em;
	color: #777;
	text-shadow:1px 1px 1px #EEE;
}

.block-article-author-default .text {
	position:relative;
	margin:0;
	padding:5px;
	color: #777;
	font-family: "Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif,Verdana;
	font-size:13px;
}
.block-article-author-default .text .table {position:relative; display:table; margin:10px 0; padding:0; width:100%;}
.block-article-author-default .text .row {position:relative; display:table-row; margin:0; padding:2px; width:100%; }
.block-article-author-default .text .cell {position:relative; display:table-cell; vertical-align:middle; text-align:left; padding:2px;}
.block-article-author-default .text .cell a {color:#777; text-decoration:none; text-shadow:1px 1px 1px #eee;}
.block-article-author-default .text .cell a:hover {color:#555; text-decoration:none; text-shadow:1px 1px 1px #aaa;}
.block-article-author-default .text .right {padding:2px 2px 2px 6px; text-align:right;}

.block-article-author-default .text .avatar { position:relative; display:table-cell; vertical-align:middle; padding:2px; width:64px; height:64px;}
.block-article-author-default .text .ucell {position:relative; display:table-cell; padding:2px;}
.block-article-author-default .text .ucell .username {position:relative; padding: 5px; font-size:1.2em; color: #333333; font-family: tahoma, Arial, Helvetica, sans-serif;}
.block-article-author-default .text .ucell .gstar {
	position:relative;
	background: url("rank.png") 0 0 transparent;
	height: 16px;
	width: 70px;

}
.block-article-author-default .text .ucell .star0 {background-position:0 0;}
.block-article-author-default .text .ucell .star1 {background-position:-70px 0;}
.block-article-author-default .text .ucell .star2 {background-position:-140px 0;}
.block-article-author-default .text .ucell .star3 {background-position:-210px 0;}
.block-article-author-default .text .ucell .star4 {background-position:-280px 0;}
.block-article-author-default .text .ucell .star5 {background-position:-350px 0;}

.block-article-author-default .text .address {
	position:relative;
	display:block;
	margin:10px 0;
}
.block-article-author-default .text .address h3 {
	position:relative;
	margin:0;
	padding: 5px;
	border-bottom: #bbb solid 1px;
	text-align:left;
	font-size:1.1em;
	color: #777;
	font-family: tahoma, Arial, Helvetica, sans-serif;
}
.block-article-author-default .text .signature {
	position:relative;
	display:block;
	margin:10px 0;
	padding:5px 0;
	border-top: #bbb dashed 1px;
}






